body{
    background-color: oldlace;
    color: steelblue;
    
}

h1{
    font-family: 'Rammetto One', cursive;
    font-size: 40px;
}

h2{
    font-family: 'IBM Plex Sans', sans-serif;
    line-height: 20px;
    font-size: 25px;
}