/*for A only*/

#A .rotate_1.left{
    left: 12px;
    top: 0px;
}

#A .rotate_2.right{
    right: 11.5px;
    top: 0px;
}

#A .verticle_a.left{
    left: 0px;
    top: 72px;
}

#A .verticle_a.right{
    right: 0px;
    top: 72px;
}

#A .horizontal.middle{
    left: 5px;
    top: 65px;
}

#A .smallo.top{
    top:0px;
    left: 22px;
}

#A .bigo.left{
    top:65px;
    left: 0px;
}

#A .bigo.right{
    top:65px;
    right: 0px;
}

#A .bigcore.left{
    top: 70px;
    left: 2px;
}

#A .bigcore.right{
    top: 70px;
    right: 2px;
}

#A .smallcore.top{
    top: 3px;
    left: 24px;
}

#A:hover .verticle_a.left{
    animation-name: elgta;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes elgta {
  0% {height: 68px;}
  25% {height: 80px;} 
  50% {height: 90px;} 
  75% {height: 100px;}
  100% {height: 120px;}
}

#A:hover .verticle_a.right{
    animation-name: shorta;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}

@keyframes shorta {
  0% {height: 68px;}
  25% {height: 60px;} 
  50% {height: 50px;} 
  75% {height: 35px;}
  100% {height: 15px;}
}


/*for B only*/
#B .bigo.left_1{
    top: 0px;
    left: 0px;
}

#B .bigo.left_2{
    bottom: 0px;
    left: 0px;
}

#B .bigo.right_1{
    top: 0px;
    right: 0px;
}

#B .bigo.right_2{
    bottom: 0px;
    right: 0px;
}

#B .verticle_b.right{
    right: 0px;
    bottom: 5px;
}

#B .verticle_c.right{
    right: 0px;
    top: 5px;
}

#B .bigo.right{
    right: 0px;
    top: 67.5px;
}

#B .verticle_long.left{
    left: 0px;
    top: 5px;
}

#B .horizontal.top{
    top: 0px;
    left: 5px;
}

#B .horizontal.bottom{
    bottom: 0px;
    left: 5px;
}

#B .smallo.left{
    left: 0px;
    top: 62.5px;
}

#B .smallo.right{
    right: 0px;
    top: 55px;
}

#B .horizontal.inter1{
    left: 5px;
    top: 65px;
    -webkit-transform: rotate(19deg); /* Safari 3-8 */
    transform: rotate(6deg);
    border-top-right-radius: 900px;
    border-bottom-left-radius: 900px;
}

#B .horizontal.inter2{
    left: 6px;
    top: 65.5px;
    -webkit-transform: rotate(19deg); /* Safari 3-8 */
    transform: rotate(-9deg);   
}

#B .bigcore.left_1{
    left: 2px;
    top: 5px;
}

#B .bigcore.left_2{
    left: 2px;
    bottom: 6px;
}

#B .bigcore.right_1{
    left: 42px;
    top: 5px;
}

#B .bigcore.right_2{
    left: 42px;
    bottom: 6px;
}

#B .bigcore.mid{
    left: 42px;
    top: 73px;
}

#B .smallcore.left{
    left: 2px;
    top: 66px;
}

#B .smallcore.right{
    right: 2px;
    top: 59px;
}

/*for C only*/
#C .verticle_long.left{
    left: 0px;
    top: 5px;
}

#C .bigo.left_1{
    top: 0px;
    left: 0px;
}

#C .bigo.left_2{
    bottom: 0px;
    left: 0px;
}

#C .bigo.right_1{
    top: 0px;
    right: 0px;
}

#C .bigo.right_2{
    bottom: 0px;
    right: 0px;
}

#C .horizontal.top{
    top: 0px;
    left: 5px;
}

#C .horizontal.bottom{
    bottom: 0px;
    left: 5px;
}

#C .verticle_d.right1{
    right: 0px;
    top: 5px;
}

#C .verticle_d.right2{
    right: 0px;
    bottom: 5px;
}

#C .bigcore.left_1{
    left: 2px;
    top: 6px;
}

#C .bigcore.left_2{
    left: 2px;
    bottom: 6px;
}

#C .bigcore.right_1{
    right: 2px;
    top: 6px;
}

#C .bigcore.right_2{
    right: 2px;
    bottom: 6px;
}
/*for D only*/

#D .verticle_long.left{
    left: 0px;
    top: 5px;
}

#D .bigo.left_1{
    top: 0px;
    left: 0px;
}

#D .bigo.left_2{
    bottom: 0px;
    left: 0px;
}

#D .bigo.right_1{
    top: 14px;
    right: 0px;
}

#D .bigo.right_2{
    bottom: 14px;
    right: 0px;
}

#D .horizontal.inter1{
    left: 7px;
    top: 7px;
    -webkit-transform: rotate(19deg); /* Safari 3-8 */
    transform: rotate(19deg);   
}

#D .horizontal.inter2{
    left: 7px;
    top: 131px;
    -webkit-transform: rotate(19deg); /* Safari 3-8 */
    transform: rotate(-19deg);  }

#D .verticle_0.right{
    right: 0px;
    top: 19px;
}

/*for E only*/

#E .bigo.left_1{
    left: 0px;
    top: 0px;
}

#E .bigo.left_2{
    left: 0px;
    bottom: 0px;
}

#E .smallo.left{
    left: 0px;
    top: 58px;
}

#E .smallo.right{
    right: 0px;
    top: 58px;
}

#E .verticle_long.left{
    left: 0px;
    top: 5px;
}

#E .horizontal.top{
    left: 7.5px;
    top: 0px;
}

#E .horizontal.bottom{
    left: 7.5px;
    bottom: 0px;
}

#E .horizontal.angle_1{
    left: 6.5px;
    top: 61.5px;
    -webkit-transform: rotate(8deg); /* Safari 3-8 */
    transform: rotate(8deg);
}

#E .horizontal.angle_2{
    left: 6px;
    top: 61px;
    -webkit-transform: rotate(-8deg); /* Safari 3-8 */
    transform: rotate(-8deg);
}

/* for F only*/
#F .bigo.left_1{
    left: 0px;
    top: 0px;
}

#F .smallo.left{
    left: 0px;
    top: 58px;   
}

#F .smallo.right{
    right: 0px;
    top: 58px;
}

#F .horizontal.top{
    top: 0px;
    left: 7.5px;
}

#F .verticle_long.left{
    left: 0px;
    top: 7.5px;
}

#F .horizontal.angle_1{
    left: 7px;
    top: 61.5px;
    -webkit-transform: rotate(8deg); /* Safari 3-8 */
    transform: rotate(8deg);
}

#F .horizontal.angle_2{
    left: 7px;
    top: 61px;
    -webkit-transform: rotate(-8deg); /* Safari 3-8 */
    transform: rotate(-8deg);
}

/* for G only*/
#G .verticle_long.left{
    left: 0px;
    top: 5px;
}

#G .bigo.left_1{
    top: 0px;
    left: 0px;
}

#G .bigo.left_2{
    bottom: 0px;
    left: 0px;
}

#G .bigo.right_1{
    top: 0px;
    right: 0px;
}

#G .bigo.right_2{
    bottom: 0px;
    right: 0px;
}

#G .horizontal.top{
    top: 0px;
    left: 5px;
}

#G .horizontal.bottom{
    bottom: 0px;
    left: 5px;
}

#G .verticle_d.right1{
    right: 0px;
    top:5px;
}

#G .smallo.mid{
    right: 0px;
    top: 73px;
}

#G .verticle_d.mid{
    right: 11.5px;
    top: 64px;
    -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
}

#G .verticle_c.bottom{
    bottom: 6.5px;
    right: 0px;
}

/* for H only*/
#H .smallo.top{
    bottom: 0px;
    left: 0px;
}

#H .smallo.bottom{
    top: 0px;
    right: 0px;
}

#H .bigo.left{
    top: 62px;
    left: 7px;
}

#H .bigo.right{
    top: 51px;
    right: 7px;
}

#H .verticle_b.left{
    left: 7px;
    bottom: 6px;
}

#H .verticle_c.right{
    right: 7px;
    top: 5px;
}

#H .verticle_long.left{
    left: 0px;
    top: 5px;
}

#H .verticle_long.right{
    right: 0px;
    bottom: 5px;
}

#H .verticle_d.mid{
    left: 26px;
    top: 54px;
     -webkit-transform: rotate(90deg); /* Safari 3-8 */
    transform: rotate(90deg);
}

/* for S only*/
#S .bigo.left_top{
    top: 0px;
    left: 0px;
}

#S .bigo.left_mid{
    top: 59px;
    left: 0px;
}

#S .bigo.left_bottom{
    bottom: 0px;
    left: 0px;
}

#S .bigo.right_top{
    top: 0px;
    right: 0px;
}

#S .bigo.right_mid{
    top: 59px;
    right: 0px;
}

#S .bigo.right_bottom{
    bottom: 0px;
    right: 0px;
}

#S .verticle_a.left{
    left: 0px;
    top: 3px;
}

#S .verticle_a.right{
    right: 0px;
    bottom: 4px;
}

#S .verticle_d.right{
    right: 0px;
    top: 5px;
}

#S .verticle_d.left{
    left: 0px;
    bottom: 5px;
}

#S .horizontal.top{
    top: 0px;
    left: 5px;
}

#S .horizontal.bottom{
    bottom: 0px;
    left: 5px;
}

#S .horizontal.mid{
    top: 64px;
    left: 6px;
    -webkit-transform: rotate(8deg); /* Safari 3-8 */
    transform: rotate(-16deg);
}

/* for I only*/
#I .smallo.top{
    top: 0px;
    left: 22px;
}

#I .smallo.bottom{
    bottom: 0px;
    left: 22px;
}

#I .verticle_long.left{
    top: 5px;
    left: 29px;
}

#I .verticle_long.right{
    top: 5px;
    right: 30px;
}

/* for J only*/
#J .bigo.left{
    left: 0px;
    bottom: 0px;
}

#J .bigo.right{
    right: 0px;
    bottom: 0px;
}

#J .verticle_long.right{
    right: 0px;
    bottom: 5px;
}

#J .horizontal.bottom{
    bottom: 0px;
    left: 5px;
}

#J .verticle_d.left{
    left: 0px;
    bottom: 5px;
}

/* for K only*/
#K .smallo.left{
    bottom: 0px;
    left: 0px;
}

#K .bigo.mid{
    top: 62px;
    left: 7px;
}

#K .verticle_long.left{
    left: 0px;
    bottom: 5px;
}

#K .verticle_a.mid{
    left: 7px;
    bottom: 5px;
}

#K .rotate_1.top{
    left: 29px;
    -webkit-transform: rotate(8deg); /* Safari 3-8 */
    transform: rotate(35deg);
}

#K .verticle_short.bottom{
    bottom: -2px;
    left: 33px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(-24deg);
}

/* for L only*/
#L .bigo.left{
    left: 0px;
    bottom: 0px;
}

#L .verticle_long.left{
    left: 0px;
    bottom: 5px;
}

#L .horizontal.bottom{
    left: 5px;
    bottom: 0px;
}



/* for M only*/
#M .smallo.left{
    left: 0px;
    top: 0px;
}

#M .smallo.mid{
    left: 22px;
    bottom: 4px;
}

#M .smallo.right{
    right: 0px;
    top: 0px;
}

#M .verticle_long.left{
    left: 0px;
    top: 6px;
}

#M .verticle_long.right{
    right: 0px;
    top: 6px;
}

#M .verticle_long.angle_a{
    left: 15px;
    top: 6px;
    -webkit-transform: rotate(8deg); /* Safari 3-8 */
    transform: rotate(-7deg);
}

#M .verticle_long.angle_b{
    right: 15px;
    top: 6px;
    -webkit-transform: rotate(8deg); /* Safari 3-8 */
    transform: rotate(7deg);
}



/* for N only*/
#N .bigo.left{
    top: 0px;
    left: 0px;
}

#N .bigo.right{
    bottom: 0px;
    right: 0px;
}

#N .verticle_long.left{
    top: 5px;
    left: 0px;
}

#N .verticle_long.right{
    bottom: 5px;
    right: 0px;
}

#N .verticle_long.rotate{
    top: 5px;
    left: 26px;
    -webkit-transform: rotate(8deg); /* Safari 3-8 */
    transform: rotate(-13deg);
}

/* for O only*/
#O .bigo.left_top{
    top: 0px;
    left: 0px;
}

#O .bigo.left_bottom{
    bottom: 0px;
    left: 0px;
}

#O .bigo.right_top{
    top: 0px;
    right: 0px;
}

#O .bigo.right_bottom{
    bottom: 0px;
    right: 0px;
}

#O .verticle_long.left{
    top: 5px;
    left: 0px;
}

#O .verticle_long.right{
    top: 5px;
    right: 0px;
}

#O .horizontal.top{
    left: 5px;
    top: 0px;
}

#O .horizontal.bottom{
    right: 5px;
    bottom: 0px;
}

/* for P only*/
#P .bigo.left{
    top: 0px;
    left: 0px;
}

#P .bigo.right{
    top: 0px;
    right: 0px
}

#P .bigo.mid{
    top: 50px;
    right: 0px;
}

#P .smallo.mid{
    top: 62px;
    left: 8px;
}

#P .horizontal.top{
    left: 5px;
    top: 0px;
}

#P .horizontal.mid{
    right: 7px;
    top: 62px;
    width: 32px;
}

#P .horizontal.shu{
    top: 30px;
    right: -20px;
    -webkit-transform: rotate(8deg); /* Safari 3-8 */
    transform: rotate(90deg);
}

#P .verticle_long.left{
    left: 0px;
    top: 7.5px;
}

#P .verticle_a.left{
    left: 8px;
    bottom: 2px;
}

/*for Q only*/
#Q .bigo.left_top{
    top: 0px;
    left: 0px;
}

#Q .bigo.left_bottom{
    bottom: 0px;
    left: 0px;
}

#Q .bigo.right_top{
    top: 0px;
    right: 0px;
}

#Q .bigo.right_bottom{
    bottom: 0px;
    right: 0px;
}

#Q .verticle_long.left{
    top: 5px;
    left: 0px;
}

#Q .verticle_long.right{
    top: 5px;
    right: 0px;
}

#Q .horizontal.top{
    left: 5px;
    top: 0px;
}

#Q .horizontal.bottom{
    right: 5px;
    bottom: 0px;
}

#Q .verticle_d.bottom{
    right: -6px;
    bottom: -8px;
    -webkit-transform: rotate(90deg); 
    transform: rotate(90deg);
}

/* for R only*/
#R .bigo.left{
    left: 0px;
    top: 0px;
}

#R .bigo.right{
    top: 0px;
    right: 0px;
}

#R .bigo.mid{
    top: 50px;
    right: 0px;
}

#R .smallo.mid{
    top: 62px;
    left: 8px;
}

#R .horizontal.top{
    left: 5px;
    top: 0px;
}

#R .horizontal.mid{
    right: 7px;
    top: 62px;
    width: 32px;
}

#R .horizontal.shu{
    top: 30px;
    right: -20px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(90deg);
}

#R .verticle_long.left{
    left: 0px;
    top: 7.5px;
}

#R .verticle_0.left{
    left: 28px;
    bottom: -4px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(-30deg);
    height: 82px;
}

/* for T only*/
#T .smallo.center{
    top: 0px;
    left: 22px;
}

#T .horizontal.top{
    top: 0px;
    left: 0px;
    width: 53.5px;
}

#T .verticle_long.left{
    top: 7px;
    left: 22px;
}

#T .verticle_long.right{
    top: 7px;
    right: 23px;
}


/* for U only*/
#U .bigo.left{
    bottom: 0px;
    left: 0px;
}

#U .bigo.right{
    bottom: 0px;
    right: 0px;
}

#U .verticle_long.left{
    bottom: 5px;
    left: 0px;
}

#U .verticle_long.right{
    bottom: 5px;
    right: 0px;
}

#U .horizontal.bottom{
    bottom: 0px;
    right: 5px;
}

/* for V only*/
#V .bigo.bottom{
    left: 20px;
    bottom: 0px;
}

#V .verticle_long.angle_1{
    top: 4px;
    left: 9px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(-10deg);   
}

#V .verticle_long.angle_2{
    top: 4px;
    right: 9px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(10deg);   
}

/* for W only*/
#W .smallo.left{
    left: 0px;
    bottom: 0px;
}

#W .smallo.right{
    right: 0px;
    bottom: 0px;
}

#W .smallo.mid{
    left: 22px;
    bottom: 55px;
}

#W .verticle_long.left{
    left: 0px;
    bottom: 7px;
}

#W .verticle_long.right{
    right: 0px;
    bottom: 7px;
}

#W .verticle_a.left{
    bottom: 5px;
    left: 15px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(14deg); 
    height: 55px;
}

#W .verticle_a.right{
    bottom: 5px;
    right: 15px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(-15deg); 
    height: 55px;
}

/* for X only*/
#X .smallo.top{
    top: 0px;
    right: 0px;
}

#X .smallo.bottom{
    bottom: 0px;
    right: 0px;
}

#X .smallo.mid{
    left: 22px;
    bottom: 65px
}

#X .verticle_a.left_top{
    left: 10px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(-18deg); 
    height: 70px;
}

#X .verticle_a.left_bottom{
    left: 10px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(18deg); 
    bottom: 0px;
    height: 73px;
}

#X .verticle_a.right_topa{
    right: 11px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(18deg); 
    top: 5px;
    height: 70px;
}

#X .verticle_a.right_topb{
    right: 18px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(18deg); 
    top: 2px;
    height: 70px;
}

#X .verticle_a.right_bottoma{
    right: 11px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(-18deg); 
    bottom: 2px;
    height: 73px;
}

#X .verticle_a.right_bottomb{
    right: 19px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(-18deg); 
    bottom: 2px;
    height: 73px;
}


/* for Y only*/
#Y .smallo.center{
    left: 22px;
    bottom: 72px;
}

#Y .verticle_a.angle_1{
    top: -2px;
    left: 11px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(-19deg); 
    height: 70px; 
}

#Y .verticle_a.angle_2{
    top: -2px;
    right: 12px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(19deg); 
    height: 70px; 
}

#Y .verticle_a.left{
    left: 22px;
    bottom: 0px;
    height: 75px;
}

#Y .verticle_a.right{
    right: 23px;
    bottom: 0px;
    height: 75px;
}

/* for Z only*/
#Z .bigo.left{
    left: 0px;
    bottom: 0px;
}

#Z .bigo.right{
    right: 0px;
    top: 0px;
}

#Z .horizontal.top{
    top: 0px;
    left: 5px;
}

#Z .horizontal.bottom{
    bottom: 0px;
    left: 7px;
}

#Z .verticle_long.angle{
    left: 26px;
    top: 5px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(22deg);  
}

/* for 1 only*/
#one .smallo.only{
    left: 14px;
    top: 0px;
}

#one .verticle_long.only{
    right: 4px;
    top: 6px;
}

#one .verticle_d.only{
    -webkit-transform: rotate(8deg); 
    transform: rotate(22deg);
    left: 10px;
    top:4px;    
}

/* for 2 only*/
#two .smallo.top{
    top: 0px;
    right: 0px;
}

#two .smallo.bottom{
    bottom: 2px;
    left: 0px;
}

#two .smallo.mid_1{
    top: 70px;
    left: 0px;
}

#two .smallo.mid_2{
    top: 62px;
    right: 0px;
}

#two .horizontal_s.top{
    top: 0px;
    left: 2px;
}

#two .horizontal_s.mid{
    top: 70px;
    left: 3px;
}

#two .horizontal_s.bottom{
    bottom: 2px;
    left: 5px;
}

#two .verticle_a.left{
    bottom: 4px;
    left: 0px;
    height: 60px;
}

#two .verticle_a.right{
    top: 3px;
    right: 0px;
    height: 62px
}

/* for 3 only*/
#three .smallo.top{
    top: 0px;
    right: 0px;
}

#three .smallo.bottom{
    bottom: 2px;
    right: 0px;
}

#three .smallo.mid{
    top: 62px;
    right: 0px;
}

#three .verticle_long.right{
    top: 5px;
    right: 0px;
}

#three .horizontal_s.top{
    top: 0px;
    right: 5px;
}

#three .horizontal_s.mid{
    top: 69px;
    right: 5px;
}

#three .horizontal_s.bottom{
    bottom: 2px;
    right: 5px;
}

/* for 4 only*/
#four .smallo.left{
    top: 62px;
    left: 0px;
}

#four .smallo.right{
    top: 62px;
    right: 0px;
}

#four .verticle_long.right{
    right: 0px;
    top: 0px;
    height: 140px;
}

#four .verticle_a.left{
    right: 0px;
    top: 5px;
}

#four .horizontal_s.mid_1{
    top: 65px;
    right: 4px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(22deg);
}

#four .horizontal_s.mid_2{
    top: 66px;
    right: 4px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(-22deg);
}


/*for 5 only*/
#five .smallo.top{
    top: 0px;
    left: 0px;
}

#five .smallo.bottom{
    bottom: 2px;
    right: 0px;
}

#five .smallo.mid_1{
    top: 70px;
    right: 0px;
}

#five .smallo.mid_2{
    top: 62px;
    left: 0px;
}

#five .horizontal_s.top{
    top: 0px;
    left: 5px;
}

#five .horizontal_s.mid{
    top: 70px;
    left: 3px;
}

#five .horizontal_s.bottom{
    bottom: 2px;
    right: 5px;
}

#five .verticle_a.left{
    top: 5px;
    left: 0px;
    height: 60px;
}

#five .verticle_a.right{
    bottom: 4px;
    right: 0px;
    height: 62px
}

/*for 6 only*/
#six .smallo.top{
    top: 0px;
    left: 0px;
}

#six .smallo.bottom{
    bottom: 2px;
    right: 0px;
}

#six .smallo.mid_1{
    top: 70px;
    right: 0px;
}

#six .smallo.mid_2{
    top: 62px;
    left: 0px;
}

#six .smallo.left_bottom{
    bottom: 2px;
    left: 0px;
}

#six .horizontal_s.top{
    top: 0px;
    left: 5px;
}

#six .horizontal_s.mid{
    top: 70px;
    left: 3px;
}

#six .horizontal_s.bottom{
    bottom: 2px;
    right: 5px;
}

#six .verticle_long.left{
    left: 0px;
    top: 5px;
}

#six .verticle_a.right{
    bottom: 4px;
    right: 0px;
    height: 62px
}

/*for 7 only*/
#seven .smallo.only{
    top: 0px;
    right: 0px;
}

#seven .verticle_long.right{
    top: 7px;
    right: 0px;
}

#seven .horizontal_s.top{
    right: 7px;
    top: 0px;
}

/*for 8 only*/
#eight .smallo.top_1{
    top: 0px;
    left: 0px;
}

#eight .smallo.top_2{
    top: 0px;
    right: 0px;
}

#eight .smallo.mid_1{
    top: 62px;
    left: 0px;
}

#eight .smallo.mid_2{
    top: 62px;
    right: 0px;
}

#eight .smallo.bottom_1{
    bottom: 2px;
    left: 0px;
}

#eight .smallo.bottom_2{
    bottom: 2px;
    right: 0px;
}

#eight .horizontal_s.mid_1{
    top: 65px;
    right: 4px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(22deg);
}

#eight .horizontal_s.mid_2{
    top: 66px;
    right: 4px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(-22deg);
}

#eight .horizontal_s.top{
    top: 0px;
    left: 5px;
}

#eight .horizontal_s.bottom{
    bottom: 2px;
    left: 5px;
}

#eight .verticle_long.left{
    left: 0px;
    top: 5px;
}

#eight .verticle_long.right{
    right: 0px;
    top: 5px;
}
/* for 9 only*/
#nine .smallo.top_1{
    top: 0px;
    left: 0px;
}

#nine .smallo.top_2{
    top: 0px;
    right: 0px;
}

#nine .smallo.mid_1{
    top: 62px;
    left: 0px;
}

#nine .smallo.mid_2{
    top: 62px;
    right: 0px;
}

#nine .smallo.bottom{
    bottom: 2px;
    right: 0px;
}

#nine .horizontal_s.top{
    top: 0px;
    left: 4px;
}

#nine .horizontal_s.mid{
    top: 65px;
    left: 4px;
    -webkit-transform: rotate(8deg); 
    transform: rotate(-22deg);
}

#nine .horizontal_s.bottom{
    bottom: 2px;
    right: 6px;
}

#nine .verticle_long.right{
    right: 0px;
    top: 5px;
}

#nine .verticle_a.left{
    top: 5px;
    left: 0px;
    height: 60px;
}
/*for 0 only*/
#zero .smallo.top_1{
    top: 0px;
    left: 0px;
}

#zero .smallo.top_2{
    top: 0px;
    right: 0px;
}

#zero .smallo.bottom_1{
    bottom: 2px;
    left: 0px;
}

#zero .smallo.bottom_2{
    bottom: 2px;
    right: 0px;
}

#zero .verticle_long.left{
    top: 5px;
    left: 0px;
}

#zero .verticle_long.right{
    right: 0px;
    top: 5px;
}

#zero .horizontal_s.top{
    top: 0px;
    left: 5px;
}

#zero .horizontal_s.bottom{
    bottom: 2px;
    left: 5px;
}

