body{
    background-color: #583df9;
}

.main_wrap{
    margin: 50px;
    width: auto;
    height: 1500px;
    position: center;
}

.sciencewrap{
    margin: 180px 50px 50px 50px;
    width: auto;
    height: 800px;
}

.showcase{
    margin: 180px 50px 50px 50px;
    width: auto;
    height: 800px;
}

.letter{
    width: 53.5px;
	height: 140px;
	position: relative;
	display: inline-block;
	margin: 20px;
}

.number{
    width: 27px;
	height: 140px;
	position: relative;
	display: inline-block;
	margin: 20px;
}

.ShowcaseLetter{
    width: 107px;
	height: 280px;
	position: relative;
	display: inline-block;
	margin: 16px;
}

.bigo{
    width: 9px;
	height: 9px;

	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    border: 2px solid white;
    position: absolute;
}

.bigcore{
    width: 9px;
    height: 2px;
    background-color: white;
}

.smallo{
    width: 5px;
	height: 5px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    border: 2px solid white;
    position: absolute;
}

.smallcore{
    width: 5px;
    height: 2px;
    background-color: white;
}

.verticle_long{
    height: 130px;
    width: 2px;
    background-color: white;
    position: absolute;
}

.verticle_short{
    height: 80px;
    width: 2px;
    background-color: white;
    position: absolute;
}

.verticle_0{
    height: 100px;
    width: 2px;
    background-color: white;
    position: absolute;
}

.verticle_a{
    height:68px;
    width: 2px;
    background-color: white;
    position: absolute;
}

.verticle_b{
    height:62.5px;
    width: 2px;
    background-color: white;
    position: absolute;
}

.verticle_c{
    height:55px;
    width: 2px;
    background-color: white;
    position: absolute;
}

.verticle_d{
    height: 19px;
    width: 2px;
    background-color: white;
    position: absolute;
}

.rotate_1{
    width: 2px;
    height: 70px;
    background-color: white;
    position: absolute;
    -webkit-transform: rotate(19deg); /* Safari 3-8 */
    transform: rotate(18deg);
    border-top-right-radius: 900px;
}

.rotate_2{
    width: 2px;
    height: 70px;
    background-color: white;
    position: absolute;
    -webkit-transform: rotate(-19deg); /* Safari 3-8 */
    transform: rotate(-19deg);
}

.horizontal{
    width: 42.5px;
    height: 2px;
    background-color: white;
    position: absolute;

}

.horizontal_s{
    width: 20px;
    height: 2px;
    background-color: white;
    position: absolute;
}
