.Bbigo{
    width: 18px;
	height: 18px;

	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    border: 3px solid white;
    position: absolute;
}

.Bsmallo{
    width: 10px;
	height: 10px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
    border: 3px solid white;
    position: absolute;
}

.Bverticle_long{
    height: 260px;
    width: 3px;
    background-color: white;
    position: absolute;
}

.Bverticle_short{
    height: 160px;
    width: 3px;
    background-color: white;
    position: absolute;
}

.Bverticle_0{
    height: 200px;
    width: 3px;
    background-color: white;
    position: absolute;
}

.Bverticle_a{
    height:126px;
    width: 3px;
    background-color: white;
    position: absolute;
}

.Bverticle_b{
    height:125px;
    width: 3px;
    background-color: white;
    position: absolute;   
}

.Bverticle_c{
    height:110px;
    width: 3px;
    background-color: white;
    position: absolute;   
}

.Bverticle_d{
    height: 38px;
    width: 3px;
    background-color: white;
    position: absolute;    
}

.Bverticle_e{
    height: 165px;
    width: 3px;
    background-color: white;
    position: absolute;    
}

.Bverticle_f{
    height: 140px;
    width: 3px;
    background-color: white;
    position: absolute;    
}

.Brotate_1{
    width: 3px;
    height: 140px;
    background-color: white;
    position: absolute;
    -webkit-transform: rotate(19deg); /* Safari 3-8 */
    transform: rotate(18deg);
    border-top-right-radius: 900px;
}

.Brotate_2{
    width: 3px;
    height: 140px;
    background-color: white;
    position: absolute;
    -webkit-transform: rotate(-19deg); /* Safari 3-8 */
    transform: rotate(-19deg);
}

.Bhorizontal{
    width: 85px;
    height: 3px;
    background-color: white;
    position: absolute;
    
}

/*for D only*/
#BD .Bverticle_long.left{
    left: 0px;
    top: 10px;
}

#BD .Bbigo.left_1{
    top: 0px;
    left: 0px;
}

#BD .Bbigo.left_2{
    bottom: 0px;
    left: 0px;
}

#BD .Bbigo.right_1{
    top: 28px;
    right: 0px;
}

#BD .Bbigo.right_2{
    bottom: 28px;
    right: 0px;
}

#BD .Bhorizontal.inter1{
    left: 14px;
    top: 14px;
    -webkit-transform: rotate(19deg); /* Safari 3-8 */
    transform: rotate(19deg);   
}

#BD .Bhorizontal.inter2{
    left: 14px;
    top: 262px;
    -webkit-transform: rotate(19deg); /* Safari 3-8 */
    transform: rotate(-19deg);  
}

#BD .Bverticle_0.right{
    right: 0px;
    top: 38px;
}

/*for Y only*/
#BY .Bsmallo.mid{
    top: 108px;
    left: 46px;
}

#BY .Bverticle_e.left{
    bottom: 0px;
    left: 46px;
}

#BY .Bverticle_e.right{
    bottom: 0px;
    right: 45px;
}

#BY .Bverticle_a.left{
    top: 0px;
    left: 21px;
    -webkit-transform: rotate(19deg); /* Safari 3-8 */
    transform: rotate(-23deg); 
}

#BY .Bverticle_a.right{
    top: 0px;
    right: 21px;
    -webkit-transform: rotate(19deg); /* Safari 3-8 */
    transform: rotate(23deg); 
}

/* only for N*/
#BN .Bbigo.left{
    left: 0px;
    top: 0px;
}

#BN .Bbigo.right{
    right: 0px;
    bottom: 0px;
}

#BN .Bverticle_long.left{
    top: 10px;
    left: 0pxl;
}

#BN .Bverticle_long.right{
    bottom: 10px;
    right: 0px;
}

#BN .Bverticle_long.mid{
    left: 52px;
    top: 10px;
    -webkit-transform: rotate(19deg); /* Safari 3-8 */
    transform: rotate(-14deg);
}

/* only for A*/
#BA .Brotate_1.left{
    left: 24px;
    top: 0px;
}

#BA .Brotate_2.right{
    right: 23px;
    top: 0px;
}

#BA .Bverticle_f.left{
    left: 0px;
    bottom: 0px;
}

#BA .Bverticle_f.right{
    right: 0px;
    bottom: 0px;
}

#BA .Bhorizontal.middle{
    left: 10px;
    top: 130px;
}

#BA .Bsmallo.top{
    top:0px;
    left: 45px;
}

#BA .Bbigo.left{
    top:130px;
    left: 0px;
}

#BA .Bbigo.right{
    top:130px;
    right: 0px;
}

/*only for M*/
#BM .Bsmallo.left{
    left: 0px;
    top: 3px;
}

#BM .Bsmallo.mid{
    left: 46px;
    bottom: 5px;
}

#BM .Bsmallo.right{
    right: 0px;
    top: 3px;
}

#BM .Bverticle_long.left{
    left: 0px;
    top: 12px;
}

#BM .Bverticle_long.right{
    right: 0px;
    top: 12px;
}

#BM .Bverticle_long.angle_a{
    left: 30px;
    top: 12px;
    -webkit-transform: rotate(8deg); /* Safari 3-8 */
    transform: rotate(-7deg);
}

#BM .Bverticle_long.angle_b{
    right: 30px;
    top: 12px;
    -webkit-transform: rotate(8deg); /* Safari 3-8 */
    transform: rotate(7deg);
}

/* for I only*/
#BI .Bsmallo.top{
    top: 0px;
    left: 45px;
}

#BI .Bsmallo.bottom{
    bottom: 0px;
    left: 45px;
}

#BI .Bverticle_long.left{
    top: 10px;
    left: 45px;
}

#BI .Bverticle_long.right{
    top: 10px;
    right: 46px;
}

/* for C only*/
#BC .Bverticle_long.left{
    left: 0px;
    top: 5px;
}

#BC .Bbigo.left_1{
    top: 0px;
    left: 0px;
}

#BC .Bbigo.left_2{
    bottom: 0px;
    left: 0px;
}

#BC .Bbigo.right_1{
    top: 0px;
    right: 0px;
}

#BC .Bbigo.right_2{
    bottom: 0px;
    right: 0px;
}

#BC .Bhorizontal.top{
    top: 0px;
    left: 5px;
}

#BC .Bhorizontal.bottom{
    bottom: 0px;
    left: 5px;
}

#BC .Bverticle_d.right1{
    right: 0px;
    top: 5px;
}

#BC .Bverticle_d.right2{
    right: 0px;
    bottom: 5px;
}

