body{
    background-color: black;
}

p{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
}


#nav{
    width: 30%;
    margin-left: 10px;
    position: absolute;
}

.canvas{
    width: 70%;
    margin-right: 10px;
    position: relative; 
    float: right;
}

#content{
    background-color: white;
    color: black;
    font-family: 'Ubuntu', sans-serif; 
    width: 50%;
    height: 500px;
    z-index: 99999;
    text-align: center;
    display: block;
}

#nmark{
    
}

img{
    z-index: -50;
    float: left;
}
