body{
    background-color: black;
}

p{
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

li{
   color: white;
    font-family: 'Ubuntu', sans-serif; 
}

#nav{
    width: 30%;
    margin-left: 10px;
    position: absolute;
}

.canvas{
    width: 70%;
    margin-right: 10px;
    position: relative; 
    float: right;
}


