body{
    background-color: black;
}

p{
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

li{
   color: white;
    font-family: 'Ubuntu', sans-serif; 
}

#nav{
    width: 30%;
    margin-left: 10px;
    position: absolute;
}

.canvas{
    width: 70%;
    margin-right: 10px;
    position: relative; 
    float: right;
}

#draggable{
    float: left;
}

#draggable_2{
    float: left;
}

#draggable_3{
    float: left;
}

#draggable_4{
    float: left;
}

#draggable_5{
    float: left;
}

#draggable_6{
    float: left;
}

#draggable_7{
    float: left;
}

#draggable_8{
    float: left;
}
