body{
    background-color: black;
}

.title{
    font-family: 'Ubuntu', sans-serif;
    color: lightcoral;
    font-size: 40pt;
    line-height: 140px;
    margin-left: 150px;
    margin-right: 80px;
    position: relative;
}

.text{
    font-family: 'Cormorant Garamond', serif;
    color: dimgrey;
    font-size: 12pt;
}

.left{
    float: left;
}

.right{
    float: right;
}

.pttbox{
    position: relative;
    width: 50%;
}

img{
    display:block;
}

/* Animation for Portraits*/
.Araki img:nth-child(1) {
    opacity:1;
}
.Araki img:nth-child(2) {
    opacity:0;
}

.active img:nth-child(1) {
    -webkit-animation: apart2 1s infinite;
    animation: apart2 1s infinite;
}

.active img:nth-child(2) {
    -webkit-animation: apart1 1s infinite;
    animation: apart1 1s infinite;
}

@-webkit-keyframes apart1 {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes apart2 {
  from {opacity: 1;}
  to {opacity: 0;}
}

.img-holder img {
  position:relative;
}

.Araki img:nth-child(1) {
    position: absolute !important;
}

/*Animation for Moriyama*/

.Moriyama img:nth-child(1) {
    opacity:1;
}
.Moriyama img:nth-child(2) {
    opacity:0;
}

.active .Moriyama img:nth-child(1) {
    -webkit-animation: bnw2 1s infinite;
    animation: bnw2 1s infinite;
}

.active .Moriyama img:nth-child(2) {
    -webkit-animation: bnw1 1s infinite;
    animation: bnw1 1s infinite;
}

@-webkit-keyframes bnw1 {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes bnw2 {
  from {opacity: 1;}
  to {opacity: 0;}
}

.img-holder img {
  position:relative;
}

.Moriyama img:nth-child(1) {
    position: absolute !important;
}

/*Animation for Shiga*/
.Shiga img:nth-child(1) {
    opacity:1;
}
.Shiga img:nth-child(2) {
    opacity:0;
}

.active .Shiga img:nth-child(1) {
    -webkit-animation: light2 1s infinite;
    animation: light2 1s infinite;
}

.active .Shiga img:nth-child(2) {
    -webkit-animation: light1 1s infinite;
    animation: light1 1s infinite;
}

@-webkit-keyframes light1 {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes light2 {
  from {opacity: 1;}
  to {opacity: 0;}
}

.img-holder img {
  position:relative;
}

.Shiga img:nth-child(1) {
    position: absolute !important;
}
